header{
    background-image: url('../assets/bg.jpeg');
    background-color: black;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header h1{
    font-size: 6rem;
    color: #e2e2e2;
    margin-bottom: 1rem;
    font-weight: 900;
}

header .subtitle{
    color: white;
    font-weight: 700;
}

.wrapper {
    padding: 20px;
}

.notification{
    margin-top: 12px;
}

.wrapper label{
    font-size: 1.7em;
    font-weight: 200;
    color: #c2c2c2;
}

.wrapper:hover label{
    color: #797979;
}

.todo-list {
    padding: 20px;
}

.box{
    padding: 30px;
}

.box:hover {
    background-color: #e9e9e9;
}

#date {
    color: #d0d0d0;
}

.input {
    margin-top: 1rem;
}

.taskTitle{
    color: #3a3a3a;
    font-size: 2rem;
    font-weight: 200;
}

.fa-edit, .fa-plus-square, .fa-save, .fa-undo, .fa-times{
    margin-left:19px;
    color: #b5b5b5;
}

@media only screen and (max-width: 600px) {
    
    header {
      display: none;
    }

    .fa-edit, .fa-plus-square, .fa-save, .fa-undo, .fa-times{
        margin-left: 1px;
        color: #b5b5b5;
        font-size: 20px;
    }

    .field label{
        font-size: 1.3rem;
    }
    
}
